mock
# Requirements.txt
#
# The different package that should be used in order to
# execute this component.
#
# __author__ = henar

# Blinly update from django 1.5.5 to avoid github security alert. Not sure if the code will work as is
# after the upgrade but probably this repository is no longer used and it is not a big issue ;)
django==3.2.24
nose==1.3.0
django-nose==1.2
coverage==3.7
# Blinly update from djangorestframework 2.3.8 to avoid github security alert. Not sure if the code will work as is
# after the upgrade but probably this repository is no longer used and it is not a big issue ;)
djangorestframework==3.11.2
mockito==0.5.2
pika==0.9.13
PyChef==0.2.3
# Blinly update from paramiko 2.0.9 to avoid github security alert. Not sure if the code will work as is
# after the upgrade but probably this repository is no longer used and it is not a big issue ;)
paramiko==3.4.0
GitPython
#pysvn
#git
